<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="teacher/teacher_base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>

		<div class="card form-container">
			<div class="container text-center p-2">
				<h1>Register New Student</h1>
			</div>

			<div class="card-body">
				<form>
				<div class="form-group">
					<label for="exampleInputEmail1">Name</label> <input
						type="text" class="form-control"
						placeholder="Enter Full Name"> 
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Father Name</label> <input
						type="text" class="form-control"
						placeholder="Enter Full Name"> 
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label> <input
						type="email" class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" placeholder="Enter email"> 
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Mobile No</label> <input
						type="number" class="form-control"
						placeholder="8212345678"> 
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label> <input
						type="password" class="form-control" id="exampleInputPassword1"
						placeholder="Password">
				</div>		
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">I accept all the terms and condition</label>
				</div>
				<div class="container text-center">
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
			</form>
			
			
			
			</div>


		</div>


	</section>
</body>
</html>