<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/admin_base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
	
	    <!-- Team Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Our Teachers</span></p>
                <h1 class="mb-4">Meet Our Teachers</h1>
            </div>
            <div class="row">
                <div th:each="t: ${teachers}" class="col-md-6 col-lg-3 text-center team mb-5">
                    <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                        <img class="img-fluid w-100" width="140px" th:src="@{'/img/'+${(t.profile !=null)? t.profile : 'teacher.jpg'}}" alt="teacher image" />
                        <div
                            class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                            <a class="btn btn-outline-light text-center mr-2 px-0 btn btn-primary" style="width: 38px; height: 38px;"
                                href="#"  data-toggle="modal" th:data-target="'.tid'+${t.id}"><i class="fas fa-eye"></i></a>
                            <a class="btn btn-outline-light text-center mr-2 px-0 btn btn-primary" style="width: 38px; height: 38px;"
                                th:href="@{'/account/payroll/'+ ${t.id}}" ><i class="fas fa-gem"></i></a>
                        </div>
                    </div>
                    <h4 th:text="${t.name}" class="mb-0"></h4>
                    <div class="container text-center"><p class="mb-0"><span th:each="c: ${t.courses}" ><i><span th:text="${c.name+' '}"></span></i></span></p></div>
                    
                    <div class="modal fade" th:classAppend="'tid'+${t.id}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						  
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content card-body">
						   
							<form th:action="@{/admin/teacher/update}" method="post" enctype="multipart/form-data" th:object="${teacher}">
							
							<input type="number" th:value="${t.id}" name="id" style="display:none;" />
						      <table class="table">
						      				<tr>
						      					<td><a th:href="@{'/admin/teacher/delete/'+${t.id}}" class="btn btn-danger btn-small float-left">Delete Teacher</a></td>
						      					<td>
						      							
															<img th:src="@{'/img/'+${(t.profile !=null)? t.profile : 'teacher.jpg'}}"   width="120px" alt="upload file" />
															<input type="file" id="input-file"  name="myfile">
						      					</td>
						      				</tr>
						      				<tr>
												<th>Name : </th>
												<td><input class="form-control" type="text" name="name" th:value="${t.name}" /></td>
											</tr>
											<tr>
												<th>Course : </th>
												<td><div class=" d-flex container text-center"><p class="mb-0"><span th:each="c: ${t.courses}" ><i><span th:text="${c.name+' '}"></span></i></span></p></div></td>
											</tr>
											<tr>
												<th>Gender : </th>
												<td><input readonly class="form-control" type="text" th:value="${t.user.sex}" /></td>
											</tr>
											<tr>
												<th>Salary : </th>
												<td><input class="form-control" name="salary" type="number" th:value="${t.salary}" /></td>
											</tr>
											<tr>
												<th>Joining Date : </th>
												<td><input readonly class="form-control" type="text" th:value="${t.date}" /></td>
											</tr>
											<tr>
												<th>Father's Name : </th>
												<td><input class="form-control" type="text" name="fatherName" th:value="${t.fatherName}" /></td>
											</tr>
											<tr>
												<th>Email : </th>
												<td><input class="form-control" type="text" name="email" th:value="${t.email}" /></td>
											</tr>
											<tr>
												<th>Mobile : </th>
												<td><input class="form-control" type="number" name="numbers" th:value="${t.numbers}" /></td>
											</tr>
											<tr th:if="${t.address != null}">
												<th>City : </th>
												<td><input class="form-control" type="text" name="address.city" th:value="${t.address.city}" /></td>
											</tr>
											<tr th:if="${t.address != null}">
												<th>Street : </th>
												<td><input class="form-control" type="text" name="address.street" th:value="${t.address.street}" /></td>
											</tr>	
											<tr>
												<td colspan="2"><button type="submit" class="btn btn-primary">Update</button></td>
											</tr>			
										</table>
									</form>	
						    </div>
						  </div>
						</div>
                </div>

            </div>
        </div>
    </div>
    <!-- Team End -->

					
					
					
					
		
		
	</section>
</body>
</html>